<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="../node_modules/vue/dist/vue.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="../node_modules/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="societes.css">

    <title>Liste des sociétés</title>
</head>

<body>

    <section id="app">

        <!-- Nav-bar -->
        <nav class="navbar is-info" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="../images/logo_small.png" id="logo" alt="L-SOCIETY">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item">
                        Home
                    </a>

                    <a class="navbar-item">
                        Sociétés
                    </a>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </nav>


        <!-- Fin Nav-bar -->



        <!-- Liste des sociétés -->
        <div class="columns">
            <div class="column is-four-fifths">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title is-centered">
                            Liste des sociétés
                        </p>
                    </header>

                    <div>
                        <div class="card-content">
                            <div class="content">
                                <p v-if="error">{{ error }}</p>
                                <p v-else-if="societes.length === 0">Aucune société</p>
                                <table class="table is-hoverable" id="societesTable" v-else>
                                    <thead>
                                        <tr>
                                            <td>ID</td>
                                            <td>Label</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tr v-for="societe in societes">
                                        <td>{{ societe.id }}</td>
                                        <td>{{ societe.label }}</td>
                                        <td><a class="delete" v-on:click="deleteSociete(societe)"></a></td>
                                        <td><span class="icon has-text-grey-light"
                                                v-on:click="updateSociete(societe)"><i
                                                    class="fas fa-pencil-ruler"></i></span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal updatesociete -->

            <div class="modal" id="modal-update">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <form id="form-update">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Modifier la société</p>
                            <button class="delete" aria-label="close" v-on:click="closeModal"></button>
                        </header>

                        <section class="modal-card-body">
                            <div class="column">
                                <div class="field">
                                    <div>
                                        <label for="labelFormUpdate" class="label">Label</label>
                                        <div class="control">
                                            <input type="text" id="labelFormUpdate" name="label" class="input"
                                                placeholder="Label" v-model="societeToUpdate.label">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <footer class="modal-card-foot">
                            <button class="button is-success" type="submit" color="primary"
                                v-on:click="closeModalSuccess">Mettre à jour</button>

                            <button class="button" v-on:click="closeModal">Annuler</button>
                        </footer>
                    </form>
                </div>
            </div>

            <!-- Formulaire Ajout société -->
            <div class="column">
                <form id="form-create">
                    <div class="field">
                        <div>
                            <label for="labelForm" class="label">Label</label>

                            <div class="control">
                                <input type="text" id="labelForm" name="label" class="input" placeholder="Label"
                                    v-model="societeToCreate.label">
                            </div>
                        </div>
                    </div>
                    <div id="buttonAdd"><button class="button is-success" type="submit" color="primary">Ajouter la
                            société</button></div>
                    <div id="loader"><a class="button is-success is-loading">Loading</a></div>
                </form>

            </div>
        </div>

        <script>
            let vm;

            window.addEventListener('load', () => {
                vm = new Vue({ // eslint-disable-line no-undef
                    el: '#app',
                    data: {
                        societes: [],
                        error: '',
                        societeToUpdate: {},
                        societeToCreate: {},

                    },
                });

                // API GET Call

                loadSocietes();

                // API POST Call
                document.getElementById('form-create').addEventListener('submit', (event) => {
                    event.preventDefault();
                    // change button
                    displayLoader();
                    fetch('http://localhost:3000/societes', {
                        method: 'POST',
                        headers: {
                            Accept: 'application/json',
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(vm.societeToCreate),
                    })
                        .then(loadSocietes)
                        .then(() => document.getElementById('form-create').reset());
                });

                // API UPDATE CALL
                document.getElementById('form-update').addEventListener('submit', (event) => {
                    event.preventDefault();
                    fetch('http://localhost:3000/societes/' + vm.societeToUpdate.id, {
                        method: 'PUT',
                        headers: {
                            Accept: 'application/json',
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(vm.societeToUpdate),
                    })
                        // affichage page
                        .then(loadSocietes);
                });
            });

            function loadSocietes() {
                return fetch('http://localhost:3000/societes')
                    // transmet le body de la réponse sur le then suivant
                    .catch(() => { vm.error = 'Une erreur inattendue est arrivée 😤'; })
                    .then(societesResponse => societesResponse.json())
                    .then(societes => (vm.societes = societes))
                    .then(displayAddButton);
            };

            // API DELETE CALL
            function deleteSociete(societe) { // eslint-disable-line no-unused-vars
                fetch('http://localhost:3000/societes/' + societe.id, {
                    method: 'delete',
                })
                    .then(loadSocietes);
            }

            // DECLENCHEUR MODAL
            function updateSociete(societe) { // eslint-disable-line no-unused-vars
                vm.societeToUpdate = societe;
                const modal = document.getElementById('modal-update');
                modal.style.display = 'block';
            }

            // FERMETURE MODAL
            function closeModal() { // eslint-disable-line no-unused-vars
                const modal = document.getElementById('modal-update');
                modal.style.display = 'none';
            }

            // FERMETURE MODAL SUCCESS
            function closeModalSuccess() { // eslint-disable-line no-unused-vars
                const modal = document.getElementById('modal-update');
                modal.style.display = 'none';
            }

            // Affichage loader
            function displayLoader() { // eslint-disable-line no-unused-vars
                const loader = document.getElementById('loader');
                const buttonAdd = document.getElementById('buttonAdd');
                loader.style.display = 'block';
                buttonAdd.style.display = 'none';
            }

            // Affichage addButton
            function displayAddButton() { // eslint-disable-line no-unused-vars
                const loader = document.getElementById('loader');
                const buttonAdd = document.getElementById('buttonAdd');
                loader.style.display = 'none';
                buttonAdd.style.display = 'block';
            }
        </script>
    </section>
</body>

</html>
